// Images
.bgImg {
    @include bgImg();
}
// Borders & Radius
.b-hairline {
    border-bottom: 1px solid lighten($black, 90%);
}
.radius-6 {
    border-radius: onlyPX(6);
}
.radius-20 {
    border-radius: onlyPX(20);
}
// Displays
.flex-1 {
    flex: 1;
}

// scroll

.scrol-y {
    overflow-y: scroll;
}
.scrol-x {
    overflow-x: scroll;
}

// Displays

@mixin  gridCol($value) {
    grid-template-columns: repeat($value, 1fr);
}
@mixin  gridRow($value) {
    grid-template-rows: repeat($value, 1fr);
}
@mixin girdGap($value) {
    grid-gap: onlyPX($value);
}
@mixin girdColGap($value) {
    grid-column-gap: onlyPX($value);
}
@mixin girdRowGap($value) {
    grid-row-gap: onlyPX($value);
}
