
.login-page {
    @include screenTablet {
    .form-container {
            top: 50%;
            @include m-auto;
            max-width: onlyPX(360);
            transform: translateY(-50%);
            @include position-relative;
        }
        .bg-img-login {
            max-width: 35vw;
        }
    }
}