
.about-me {

    .education {
        width: 100%;
        text-align: left;
        thead {
            tr {
                background-color: $grey-light;
            }
        }
        tbody {
            tr {
                background-color: $white;
            }
        }
    }
    // @include screen-width($mobile) {
    //     .table-wrapper {
    //         overflow-x: auto;
    //     }
    // }
}
