.border-red {
    border: 1px solid red;
}
.border-green {
    border: 1px solid green;
}
.border-blue {
    border: 1px solid blue;
}

.side-nav {
    @include position-relative;
    @include max-width(100);
    @include screenTablet {
        &::after {
            content: '';
            @include right-0;
            height: calc(100% - 80px);
            @include position-absolute;
            border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
        }
    }
    ul {
        li {
            width: 60px;
            height: 60px;
            @include border-radius(10);
            img {
                width: onlyPX(30);
            }
            // &.active {
            //     background-color: grey;
            // }
        }
    }
}

.profile {
    .person {
        width: onlyPX(46);
        height: onlyPX(46);
        @include bg-color($grey);
        @include border-radius-50;
    }
}

// Right otpions nav

.options-section {
    @include screenTablet {
        min-width: 500px;
    }
    .options-nav-right {
        white-space: nowrap;
        @include overflow(auto);
    }
}
.preview-img-container {
    .button {
        left: 50%;
        bottom: onlyPX(26);
        @include position-absolute;
        transform: translateX(-50%);
    }
}

.main-nav-section-box {
    @include screenTablet {
        @include max-width(500);
    }
    .available-items {
        &.opened {
            @include bg-color($blue-lighter);
            .arrow {
                transform: rotate(180deg);
            }
        }
        &,
        .upload-backgrounds .img-wrapper,
        .upload-icon .img-wrapper,
        li {
            
            overflow: hidden;
            @include border-radius(6);
        }
        li {
            &.upload-icon {
                .img-wrapper {
                    @include d-flex;
                    @include bg-color($white);
                    @include alignItemsCenter;
                    img {
                        @include height(40)
                    }
                }
            }
            .img-wrapper {
                @include height(87);
                @include borderSolid(1, transparent);
                &.active {
                    @include borderColor($blue-dark);
                }
            }
            img {
                @include height-100;
            }
        }
        .upload-backgrounds {
            @include position-relative;
            .img-wrapper {
                @include d-flex;
                @include alignItemsCenter;
                @include bg-color($white);
                @include justifyContentCenter;
            }
            img {
                @include max-width(40);
            }
            input {
                @include left-0;
                @include top-0;
                @include width-100;
                @include opacity(0);
                @include height-100;
                @include position-absolute;
            }
        }
    }
}

