@import './css/variables.scss';
@import './css/atomic/atomic.scss';
@import './css/utils/allUtils.scss';
@import './css/common.scss';
// components stylings

@import './pages/landingpage/LandingPage.scss';